[MASTER]

# Patterns separated by comma
ignore-patterns=main.py

[MESSAGE_CONTROL]

# logging-fstring-interpolation: https://github.com/PyCQA/pylint/issues/2395
disable=logging-fstring-interpolation,no-self-use