[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
radon = "*"
pylint = "*"
coverage = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
